@if(queriedData){
<h5 [@appear]>
  {{ queriedData.length }}
  <span>hit</span>@if(queriedData.length!==1){<span>s</span>}
  @if(queriedData.length>200){
  <span>...scroll awaaaayyy</span>
  }
</h5>
} @if(queriedData===null){
<app-loader></app-loader>
}@else if( columnData.length ){
<table [@appear] [@tableRows]>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Stockname</th>
      <th>Price</th>
      <th>Changes</th>
      <th>Market Cap</th>
    </tr>
  </thead>
  <tbody>
    @for(column of columnData;track column.symbol){
    <tr (click)="handleColumnClick(column)" role="button">
      <td>{{ column.symbol }}</td>
      <td class="name">{{ column.name }}</td>
      <td>
        <div class="chip">
          @if(column.price===null){ 🤔 } @else{
          {{ column.price | number : '1.0-6' }}
          }
        </div>
      </td>
      <td class="changes">
        <div
          class="chip"
          [ngClass]="{
          'red-chip': column.changes && column.changes< 0,
          'green-chip': column.changes && column.changes>= 0,
        }"
        >
          @if(column.changes===null || column.changes===undefined){ 🤔 } @else{
          {{ column.changes | number : '1.0-5' | positiveNumber }}
          @if(column.changesPercentage) {({{
            column.changesPercentage | number : '1.0-5' | positiveNumber
          }}%)} }
        </div>
      </td>
      <td>
        <div class="chip">
          @if(column.marketCap===null){ 🤔 } @else{
          {{ column.marketCap | numberSuffix : 2 }}
          }
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
} @else if(!isLoadingPage){
<app-empty></app-empty>
} @if(isLoadingPage && queriedData!==null){
<div class="center">
  <div>
    <app-loader></app-loader>
  </div>
</div>
}
